<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="SQLServerConnectionString"
		 providerName="System.Data.ProviderName"
		 connectionString="" />
	</connectionStrings>
	<appSettings>
		<add key="IPStackComAPIKey" value="" />
	</appSettings>
</configuration>